.userwidgetContainer {
  display: flex;
  gap: 10px;
}
.userdivide {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
